In [ ]:
Install scikit-learn library

In [1]:
pip install sklearn

Requirement already satisfied: sklearn in ./anaconda3/lib/python3.10/site-packages (0.0.post5)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
Import required modules and libraries

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from pathlib import Path  
import glob

In [ ]:
Tell the program where to find the texts for analysiss

In [3]:
directory_path = "/home/snowka/Documents/Projects/CulturalAnalytics/defoe/"

In [ ]:
Generate a list of all the filepaths in the directory and a list of all the titles of texts

In [4]:
text_files = glob.glob(f"{directory_path}/*.txt")

In [ ]:
Display the text files

In [7]:
text_files

['/home/snowka/Documents/Projects/CulturalAnalytics/defoe/Crusoe.txt',
 '/home/snowka/Documents/Projects/CulturalAnalytics/defoe/moll_flanders.txt',
 '/home/snowka/Documents/Projects/CulturalAnalytics/defoe/further_adventures.txt']

In [ ]:
Turn file names into titles

In [18]:
text_titles = [Path(text).stem for text in text_files]

In [6]:
text_titles

['Crusoe', 'moll_flanders', 'further_adventures']

In [ ]:
Use TfidfVectorizer to calculate tfâ€“idf scores

In [7]:
tfidf_vectorizer = TfidfVectorizer(input='filename', stop_words='english')

In [8]:
tfidf_vector = tfidf_vectorizer.fit_transform(text_files)

In [10]:
tfidf_df = pd.DataFrame(tfidf_vector.toarray(), index=text_titles, columns=tfidf_vectorizer.get_feature_names_out())

NOTE: I have updated the line above from the example provided. I replaced ".get_feature_names" with ".get_feature_names_out"

In [11]:
tfidf_df.loc['00_Document Frequency'] = (tfidf_df > 0).sum()

In [12]:
tfidf_slice = tfidf_df[['woman', 'women', 'love', 'slave', 'man', 'men','steal']]
tfidf_slice.sort_index().round(decimals=2)

                       woman  women  love  slave   man   men  steal
00_Document Frequency   3.00   3.00  3.00   2.00  3.00  3.00   1.00
Crusoe                  0.00   0.00  0.00   0.01  0.10  0.10   0.00
further_adventures      0.03   0.05  0.00   0.01  0.15  0.26   0.00
moll_flanders           0.10   0.03  0.03   0.00  0.09  0.03   0.01

In [ ]:
Remove unnecessary 00_Documentary Frequency line

In [13]:
tfidf_df = tfidf_df.drop('00_Document Frequency', errors='ignore')

In [ ]:
Reorganize dataFrame with words in rows rather than columns.

In [14]:
tfidf_df.stack().reset_index()

                  level_0 level_1         0
0                  Crusoe     000  0.000000
1                  Crusoe      0d  0.000000
2                  Crusoe      0s  0.000000
3                  Crusoe      10  0.003022
4                  Crusoe     100  0.007005
...                   ...     ...       ...
32149  further_adventures   youth  0.011216
32150  further_adventures    zeal  0.007596
32151  further_adventures     zee  0.000000
32152  further_adventures  zenith  0.000000
32153  further_adventures     zip  0.000963

[32154 rows x 3 columns]

In [15]:
tfidf_df = tfidf_df.stack().reset_index()

In [16]:
tfidf_df = tfidf_df.rename(columns={0:'tfidf', 'level_0': 'document','level_1': 'term', 'level_2': 'term'})

In [ ]:
Determine the top ten terms in each text

In [17]:
tfidf_df.sort_values(by=['document','tfidf'], ascending=[True,False]).groupby(['document']).head(10)

                 document    term     tfidf
4475               Crusoe   great  0.212161
8466               Crusoe    self  0.195236
9702               Crusoe    time  0.179521
1653               Crusoe    came  0.169850
5800               Crusoe  little  0.165014
2915               Crusoe     did  0.160179
1386               Crusoe    boat  0.150507
8594               Crusoe    ship  0.149903
8627               Crusoe   shore  0.143858
5372               Crusoe  island  0.143214
27544  further_adventures     men  0.261696
23089  further_adventures    came  0.254967
30030  further_adventures    ship  0.180196
29704  further_adventures    said  0.178701
25911  further_adventures   great  0.176458
27406  further_adventures     man  0.150288
31163  further_adventures    told  0.148793
24351  further_adventures     did  0.145802
27236  further_adventures  little  0.136830
31852  further_adventures     way  0.130100
20445       moll_flanders    told  0.250218
19050       moll_flanders    says  0.241515
18986       moll_flanders    said  0.239339
13633       moll_flanders     did  0.203982
12371       moll_flanders    came  0.170801
12826       moll_flanders    come  0.162098
15131       moll_flanders    good  0.159378
16518       moll_flanders  little  0.145779
20420       moll_flanders    time  0.141427
19047       moll_flanders     say  0.138164